/* 默认样式 */
.button { display: inline-block; width: 100%; height: 86px; line-height: 84px; text-align: center; font-size: 36px; border-radius: 10px; padding: 0 32px; cursor: pointer; border: 1px solid transparent; text-decoration: none; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; -webkit-background-origin: border-box; background-origin: border-box; }

/* 直角按钮 */
.button[ui-mode~="square"] { border-radius: 0; border: none; }

/* 小按钮 */
.button[ui-mode~="md"] { font-size: 32px; height: 80px; line-height: 78px; }
.button[ui-mode~="sm"] { font-size: 28px; height: 70px; line-height: 68px; }
.button[ui-mode~="xs"] { font-size: 24px; height: 60px; line-height: 60px; }

/* 内联按钮 */
.button[ui-mode~="inline"] { width: auto; }
.button[ui-mode~="inline"][ui-mode~="tiny"] { padding-left: 20px; padding-right: 20px; }

/* 默认按钮 */
.button, .button[ui-mode~="default"] { background-color: #f9f9f9; color: #666; border-color: #ddd; }
.button:active, .button[ui-mode~="default"]:active { background-color: #dedede; }

/* 蓝色按钮 */
.button[ui-mode~="primary"] { color: #fff; background-color: #0ae; }
.button[ui-mode~="primary"]:active { background-color: #0091cb; }
.button[ui-mode~="primary"][ui-mode~="hollow"] { color: #0ae; background-color: #fff; border-color: #0ae; }
.button[ui-mode~="primary"][ui-mode~="hollow"]:active { color: #fff; background-color: #0ae; }

/* 橙色按钮 */
.button[ui-mode~="warning"] { color: #fff; background-color: #ff5a32; }
.button[ui-mode~="warning"]:active { background-color: #d84a2a; }
.button[ui-mode~="warning"][ui-mode~="hollow"] { color: #ff5a32; background-color: #fff; border-color: #ff5a32; }
.button[ui-mode~="warning"][ui-mode~="hollow"]:active { color: #fff; background-color: #ff5a32; }

/* 绿色按钮 */
.button[ui-mode~="success"] { color: #fff; background-color: #06bc04; }
.button[ui-mode~="success"]:active { background-color: #07a841; }
.button[ui-mode~="success"][ui-mode~="hollow"] { color: #06bc04; background-color: #fff; border-color: #06bc04; }
.button[ui-mode~="success"][ui-mode~="hollow"]:active { color: #fff; background-color: #06bc04; }

/* 按钮组合 */
.button-group { margin-top: 10px; margin-bottom: 10px; display: -webkit-box; display: -webkit-flex; display: flex; -webkit-box-pack: center; -webkit-box-align: center; -webkit-align-items: center; align-items: center; }
.button-group > .button { -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; display: block; }
.button-group > .button:not(:last-child) { margin-right: 20px; }

/* 禁用按钮 */
.button[disabled], .button.disabled { background-color: #ebebf0 !important; color: #d2d2d2 !important; border: 1px solid #ddd !important; pointer-events: none; cursor: not-allowed; }

/* 透明按钮 */
.button[ui-mode~="transparent"], .button[ui-mode~="transparent"]:active, .button[ui-mode~="transparent"][disabled], .button[ui-mode~="transparent"].disabled { background-color: transparent !important; border: none !important; }

/* 拟态按钮 */
.button[ui-mode~="imitate"], .button[ui-mode~="default"][ui-mode~="imitate"] { background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f4f4f4)) left top no-repeat #fff; background: -webkit-linear-gradient(#f9f9f9, #f4f4f4) left top no-repeat #f9f9f9; background: linear-gradient(#f9f9f9, #f4f4f4) left top no-repeat #f9f9f9; }
.button[ui-mode~="imitate"]:active, .button[ui-mode~="default"][ui-mode~="imitate"]:active { background: -webkit-gradient(linear, left top, left bottom, from(#d5d5d5), to(#dedede)) left top no-repeat #fff; background: -webkit-linear-gradient(#d5d5d5, #dedede) left top no-repeat #f9f9f9; background: linear-gradient(#d5d5d5, #dedede) left top no-repeat #f9f9f9; }
