/* 分割线 */
.divider { margin: 30px 20px; text-transform: uppercase; position: relative; height: auto; overflow: hidden; text-align: center; font-size: 28px; }
.divider:after, .divider:before { position: absolute; content: ''; width: 50%; top: 50%; height: 0; border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5; }
.divider:after { margin-left: 30px; }
.divider:before { margin-left: -webkit-calc(-50% - 30px); margin-left: calc(-50% - 30px); }
