/* 分割线 */
.divider { margin: 30px 20px; text-transform: uppercase; position: relative; height: auto; overflow: hidden; text-align: center; font-size: 28px; }
.divider:after, .divider:before { position: absolute; content: ''; width: 35%; top: 50%; height: 0; border-top: 1px solid #ddd; border-bottom: 1px solid #fff; }
.divider:after { right: 0; }
.divider:before { left: 0; }
