/* 网站私有定制 */
*, *:before, *:after { font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-font-smoothing: antialiased; }
html, body { min-height: 100%; }
body { -webkit-user-select: none; user-select: none; }
a, img { -webkit-touch-callout: none; }
body { background-color: #f1f1f1; }
body.white { background-color: #fff; }
body, input, textarea, select, button { font-size: 1rem; line-height: 1.5; color: #333; font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif; }
input { line-height: normal; }
i, em { font-style: normal; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
a { color: #0af; text-decoration: none; }

/*a[href]:active { background-color: rgba(255, 255, 255, 0.85); }*/
.hide { display: none; }
.show { display: block; }
.pull-left { float: left; }
.pull-right { float: right; }
.user-select { -webkit-user-select: auto; user-select: auto; }
.clearfix:after { content: '\0200'; visibility: hidden; clear: both; display: block; font-size: 0; height: 0; }
.center-block { margin-left: auto; margin-right: auto; display: block; width: 100%; }
.autofix { position: relative; display: block; overflow: hidden; background: transparent url(http://7xjyap.com2.z0.glb.qiniucdn.com/image-54e0f386-9121-4ca2-bde7-0bdd3ffedb84.png) center center no-repeat; background-size: 64px 48px; }
.autofix > img { position: absolute; top: 0; left: 0; width: 100%; }
.autofix > img.cover { min-height: 100%; }
.round { border-radius: 10px; overflow: hidden; box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05); }
