@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1452840802_3751671.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1452840802_3751671.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1452840802_3751671.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1452840802_3751671.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1452840802_3751671.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.icon {
  font-family: 'iconfont';
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
}
