/* 缩进列表 */
.list { margin-top: 20px; margin-bottom: 20px; }
.list[ui-mode~="compact"] { margin-top: 0; margin-bottom: 0; }
.list[ui-mode~="overlap"] { margin-top: -1px; }
.list > .item { display: -webkit-box; display: -webkit-flex; display: flex; padding: 12px 30px; text-align: left; overflow: hidden; -webkit-box-pack: center; -webkit-box-align: center; -webkit-align-items: center; align-items: center; min-height: 88px; color: #333; background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)) left top no-repeat, -webkit-gradient(linear, left bottom, left top, from(#fff), to(#fff)) left bottom no-repeat, -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#e5e5e5)) left top no-repeat, -webkit-gradient(linear, left bottom, left top, from(#e5e5e5), to(#e5e5e5)) left bottom no-repeat #fff; background: -webkit-linear-gradient(#fff, #fff) left top no-repeat, -webkit-linear-gradient(#fff, #fff) left bottom no-repeat, -webkit-linear-gradient(#e5e5e5, #e5e5e5) left top no-repeat, -webkit-linear-gradient(#e5e5e5, #e5e5e5) left bottom no-repeat #fff; background: linear-gradient(#fff, #fff) left top no-repeat, linear-gradient(#fff, #fff) left bottom no-repeat, linear-gradient(#e5e5e5, #e5e5e5) left top no-repeat, linear-gradient(#e5e5e5, #e5e5e5) left bottom no-repeat #fff; background-size: 30px 1px, 30px 1px, 0 0, 100% 1px; }
.list > .item:first-child { background-size: 0 0, 30px 1px, 100% 1px, 100% 1px; }
.list > .item:last-child { background-size: 30px 1px, 0 0, 0 0, 100% 1px; }
.list > .item:first-child:last-child { background-size: 0 0, 0 0, 100% 1px, 100% 1px; }
.list > .item[href]:active { background-color: #f5f5f5; }
.list > [class*="item"][ui-mode~="narrow"] { min-height: auto; }
.list > [class*="item"][ui-mode~="0px"] { padding-top: 0; padding-bottom: 0; }
.list > [class*="item"][ui-mode~="15px"] { padding-top: 15px; padding-bottom: 15px; }
.list > [class*="item"][ui-mode~="20px"] { padding-top: 20px; padding-bottom: 20px; }
.list > [class*="item"][ui-mode~="25px"] { padding-top: 25px; padding-bottom: 25px; }
.list > [class*="item"][ui-mode~="30px"] { padding-top: 30px; padding-bottom: 30px; }

/* 通栏列表 */
.list[ui-mode~="thread"] > .item { background-size: 0 0, 0 0, 0 0, 100% 1px; }
.list[ui-mode~="thread"] > .item:first-child { background-size: 0 0, 0 0, 100% 1px, 100% 1px; }
.list[ui-mode~="thread"] > .item:last-child { background-size: 0 0, 0 0, 0 0, 100% 1px; }

/* 表头定义 */
.list > .item-divider { display: -webkit-box; display: -webkit-flex; display: flex; padding: 12px 30px; text-align: left; overflow: hidden; -webkit-box-pack: center; -webkit-box-align: center; -webkit-align-items: center; align-items: center; font-size: 28px; text-overflow: ellipsis; white-space: nowrap; color: #a5a5a5; }
.list > .item-divider[ui-mode~="sync"] { background: -webkit-gradient(linear, left bottom, left top, from(#e5e5e5), to(#e5e5e5)) left top no-repeat #fff; background: -webkit-linear-gradient(#e5e5e5, #e5e5e5) left top no-repeat #fff; background: linear-gradient(#e5e5e5, #e5e5e5) left top no-repeat #fff; background-size: 100% 1px; }
.list > .item-divider + .item { background-size: 0 0, 30px 1px, 100% 1px, 100% 1px; }
.list > .item-divider + .item:last-child { background-size: 0 0, 0 0, 100% 1px, 100% 1px; }
.list[ui-mode~="thread"] > .item-divider + .item { background-size: 0 0, 0 0, 100% 1px, 100% 1px; }

/* 内容排版 */
.list > .item > .text, .list > .item > .extra, .list > .item-divider > .text, .list > .item-divider > .extra { display: block; -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.list > .item > .extra, .list > .item-divider > .extra { color: #999; font-size: 28px; text-align: right; }

/* ICON定义 */
.list > .item > .icon:first-child { min-width: 32px; text-align: left; margin-right: 16px; }
.list > .item > .icon:last-child { min-width: 32px; font-size: 28px; text-align: right; margin-left: 16px; }

/* 多行文本 */
.list > .item > .text > .brief { font-size: 26px; color: #999; line-height: 30px; margin-top: 4px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

/* 头像排版 */
.list > .item > .avatar { margin-right: 20px; overflow: hidden; box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05); }
.list > .item > .avatar[ui-mode~="5px"] { border-radius: 5px; }
.list > .item > .avatar[ui-mode~="10px"] { border-radius: 10px; }
.list > .item > .avatar[ui-mode~="20px"] { border-radius: 20px; }
.list > .item > .avatar[ui-mode~="50%"] { border-radius: 50%; }
.list > .item > .avatar img, .list > .item > .avatar img[ui-mode~="58px"] { display: block; width: 58px; height: 58px; }
.list > .item > .avatar img[ui-mode~="32px"] { width: 32px; height: 32px; }
.list > .item > .avatar img[ui-mode~="50px"] { width: 50px; height: 50px; }
.list > .item > .avatar img[ui-mode~="80px"] { width: 80px; height: 80px; }
.list > .item > .avatar img[ui-mode~="90px"] { width: 90px; height: 90px; }
.list > .item > .avatar img[ui-mode~="110px"] { width: 110px; height: 110px; }
.list > .item > .avatar img[ui-mode~="120px"] { width: 120px; height: 120px; }
.list > .item > .avatar img[ui-mode~="round"] { border-radius: 50%; }
