/* 橱窗 */
.showcases { margin: 20px; line-height: 1; }
.showcases .header { padding: 20px 0; }
.showcases .header .title { font-size: 30px; padding-left: 20px; border-left: 8px solid #ff504b; line-height: 34px; }
.showcases .item { position: relative; -webkit-flex-basis: 35%; flex-basis: 35%; margin-bottom: 20px; color: #666; background-color: #fff; }
.showcases .item:nth-child(2n) { margin-right: 0; }
.showcases .item .figure { padding-top: 100%; background: transparent url(http://7xjyap.com2.z0.glb.qiniucdn.com/image-54e0f386-9121-4ca2-bde7-0bdd3ffedb84.png) center center no-repeat; background-size: 64px 48px; }
.showcases .item .text { padding: 20px; border-top: 1px solid #e5e5e5; }
.showcases .item .name { font-size: 30px; margin-bottom: 10px; }
.showcases .item .brief { font-style: 24px; }
.showcases .item .brief .split { margin-right: 20px; }
.showcases .item .sellout { position: absolute; top: 50px; left: 12px; width: 148px; height: 44px; }

/* 内嵌模式 */
.showcases.inset { background-color: #fff; padding-left: 20px; padding-right: 20px; }
.showcases.inset .header { padding-top: 30px; padding-bottom: 30px; }
.showcases.inset .item .text { border-top: none; padding-left: 0; padding-right: 0; }
