*, *:before, *:after { font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-font-smoothing: antialiased; }
*:focus { outline: none; }
body { -webkit-user-select: none; user-select: none; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; }
li { list-style: none; }
caption, th { text-align: left; }
q:before, q:after { content: ""; }
input:password { ime-mode: disabled; }
body { margin: 0 auto; box-shadow: 0 -1px 0 1px #e5e5e5; }
@media only screen and (min-device-width:1333px) {
  body { max-width: 750px; }
}
