/* 默认样式 */
.button { display: inline-block; width: 100%; height: 86px; line-height: 86px; text-align: center; font-size: 36px; border-radius: 10px; margin-top: 10px; margin-bottom: 10px; padding: 0; cursor: pointer; border: 1px solid transparent; text-decoration: none; -webkit-background-origin: border-box; background-origin: border-box; }

/* 直角按钮 */
.button.square { border-radius: 0; }

/* 小按钮 */
.button.small { font-size: 32px; height: 80px; line-height: 78px; }
.button.little { font-size: 28px; height: 70px; line-height: 68px; }
.button.tiny { font-size: 24px; height: 60px; line-height: 60px; }
.button.inline.tiny { padding-left: 20px; padding-right: 20px; }

/* 内联按钮 */
.button.inline { width: auto; padding-left: 32px; padding-right: 32px; }

/*蓝色按钮 */
.button.primary { color: #fff; background-color: #0ae; }
.button.primary:active { background-color: #0091cb; }
.button.primary.light { color: #0ae; background-color: #fff; border-color: #0ae; }
.button.primary.light:active { color: #fff; background-color: #0ae; }

/* 橙色按钮 */
.button.warning { color: #fff; background-color: #ff5a32; }
.button.warning:active { background-color: #d84a2a; }
.button.warning.light { color: #ff5a32; background-color: #fff; border-color: #ff5a32; }
.button.warning.light:active { color: #fff; background-color: #ff5a32; }

/* 白色按钮 */
.button.default { background-color: #fff; color: #666; border-color: #ddd; }
.button.default:active { background-color: #f8f8f8; }

/* 禁用按钮 */
.button[disabled], .button.disabled { background-color: #ebebf0 !important; color: #d2d2d2 !important; border: 1px solid #ddd !important; pointer-events: none; cursor: not-allowed; }

/* 按钮组合 */
.button-group { margin-top: 10px; margin-bottom: 10px; display: -webkit-box; display: -webkit-flex; display: flex; width: 100%; }
.button-group > .button { -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; margin: 0; display: block; width: 100%; }
.button-group > .button:not(:last-child) { margin-right: 20px; }
